{include file="open/header" /}
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/dedao/common.css">
    <link rel="stylesheet" href="__PUBLIC__/css/dedao/history.css">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title>已购</title>
    <style type="text/css">
        .header-nav .nav-title{
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="header-nav">
        <a href="javascript:history.go(-1)">
            <i class="iconfont icon-jiantou4"></i>
        </a>    
        <span class="nav-title">已购</span>
    </nav>
    <main>
        <div class="history-item">
            <img src="images/s11.png" class='left-img'>
            <div class="right-con">
                <span class="program-title">重点：王福重教你洞察世界</span>
                <span class="course-title">《重点》第156期：不愿意下岗的牧羊人是如何坚持的我也不知道
                </span>
                <div class="course-info">
                    <div class="time">
                        <i class="iconfont icon-time"></i>
                        <span class="total-time">05:10</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="history-item">
            <img src="images/s11.png" class='left-img'>
            <div class="right-con">
                <span class="program-title">重点：王福重教你洞察世界</span>
                <span class="course-title">《重点》第156期：不愿意下岗的牧羊人是如何坚持的我也不知道
                </span>
                <div class="course-info">
                    <div class="time">
                        <i class="iconfont icon-time"></i>
                        <span class="total-time">05:10</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="history-item">
            <img src="images/s11.png" class='left-img'>
            <div class="right-con">
                <span class="program-title">重点：王福重教你洞察世界</span>
                <span class="course-title">《重点》第156期：不愿意下岗的牧羊人是如何坚持的我也不知道
                </span>
                <div class="course-info">
                    <div class="time">
                        <i class="iconfont icon-time"></i>
                        <span class="total-time">05:10</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>