{include file="open/header" /}
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/dedao/common.css">
    <link rel="stylesheet" href="__PUBLIC__/css/dedao/history.css">
    <title>播放历史</title>
</head>
<body>
    <nav class="header-nav">
        <a href="javascript:history.go(-1)">
            <i class="iconfont icon-jiantou4"></i>
        </a>    
        <span class="nav-title">播放历史</span>
        <span class="nav-right">清空</span>
    </nav>
    <main>
        <div class="history-item">
            <img src="images/s11.png" class='left-img'>
            <div class="right-con">
                <span class="program-title">重点：王福重教你洞察世界</span>
                <span class="course-title">《重点》第156期：不愿意下岗的牧羊人是如何坚持的我也不知道
                </span>
                <div class="course-info">
                    <div class="time">
                        <i class="iconfont icon-time"></i>
                        <span class="total-time">05:10</span>
                        <span class="state">已播完</span>
                    </div>
                    <a href="">
                        <i class="iconfont icon-delete"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="history-item">
            <img src="images/s11.png" class='left-img'>
            <div class="right-con">
                <span class="program-title">重点：王福重教你洞察世界</span>
                <span class="course-title">《重点》第156期：不愿意下岗的牧羊人是如何坚持的我也不知道
                </span>
                <div class="course-info">
                    <div class="time">
                        <i class="iconfont icon-time"></i>
                        <span class="total-time">05:10</span>
                        <!-- <span class="state">已播完</span> -->
                    </div>
                    <a href="">
                        <i class="iconfont icon-delete"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="history-item">
            <img src="images/s11.png" class='left-img'>
            <div class="right-con">
                <span class="program-title">重点：王福重教你洞察世界</span>
                <span class="course-title">《重点》第156期：不愿意下岗的牧羊人是如何坚持的我也不知道
                </span>
                <div class="course-info">
                    <div class="time">
                        <i class="iconfont icon-time"></i>
                        <span class="total-time">05:10</span>
                        <!-- <span class="state">已播完</span> -->
                    </div>
                    <a href="">
                        <i class="iconfont icon-delete"></i>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>